:root{
    --azulClaro:#E3F2FD;
    --azulOscuro:#1F69B2;
    --azulHover: #1a5997;
    --grisClaro:#F4F4F4;
    --grisMedio:#B2B2B2;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    overflow-x: hidden;
}
body{
    font-family: 'Poppins', sans-serif;
}
section{
    margin: 3.75em 0;
}
h1{
    font-size: 3.5em;
    margin-bottom: 0.4em;
}
h2{
    font-size: 2em;
}
h3{
    font-size: 1.5em;
}
h5{
    font-weight: 600;
}
.main-btn{
    display: inline-block;
    background: linear-gradient(135deg, #1F69B2 0%, #004D7A 100%);
    padding: 1em 1.5em;
    border-radius: 10em;
    color: white;
    font-weight: bold;
    box-shadow: 0 0 10px 0 #efefef;
}
.light-btn{
    display: inline-block;
    background-color: white;
    padding: 1em 1.5em;
    border: none;
    border-radius: 10em;
    color: var(--azulOscuro);
    font-weight: bold;
    box-shadow: 0 0 10px 0 var(--azulHover);
}
.light-btn:hover{
    background-color: var(--grisClaro);
}
.main-btn:hover{
    color: white;
    background: linear-gradient(135deg, #1F69B2 0%, #4A90E2 100%);
}

/* NAVBAR */
header{
    background: var(--grisClaro);
    padding: 1.5em 3em;
    position: fixed;
    width: 100%;
    z-index: 1000;
}
header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav p{
    margin-bottom: 0;
}
header nav ul{
    align-items: center;
    display: flex;
    gap: 3em;
    margin-bottom: 0;
}
header nav ul li{
    list-style-type: none;
}
header nav ul li a{
    text-decoration: none;
    color: black;
}
header nav ul li a:hover{
    color: var(--azulOscuro);
}

/* HERO */
#hero{
    background-image: url(/img/hero.webp);
    background-size: cover;
    object-fit: cover;
    color: white;
    margin: 0;
    padding: 20em;
    padding-top: 20em;
}
#hero h1{
    font-size: 6em;
}

/* SERVICIOS */
#servicios .row{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3em;
}
#servicios .row .card{
    padding: 0;
    border: 1px solid var(--grisClaro);
    box-shadow: 0 0 10px 0 var(--grisClaro);
    border-radius: 1em;
}
#servicios .row .card img{
    border-radius: 1em 1em 0 0;
}
#servicios .row .card-body{
    padding: 2.5em;
}

/* SOBRE NOSOTROS */
#sobre-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 6em;
}
#sobre-nosotros .row{
    justify-content: center;
    align-items: center;
}

 /* RESERVAR */
#reservar{
    padding-bottom: 4em;
 }
#reservar .row .card{
    padding: 4em;
    border-radius: 1em;
    background: linear-gradient(135deg, #1F69B2 0%, #6AB3F2 100%);
    color: white;
    border: none;
    box-shadow: 0 0 10px 0 #efefef;
}
/* FOOTER */
footer{
    justify-content: center;
    align-items: center;
    margin: auto;
    background-color: var(--azulOscuro);
    padding: 6em;
    color: white;
}
footer div a{
    text-decoration: none;
    color: white;
}
footer div a:hover{
    color: var(--grisMedio);
}
#enlaces{
    display: flex;
    flex-direction: column;
}

#ubicacion a{
    text-decoration: none;
    justify-content: center;
    margin-bottom: 2em;
    padding: 1em 4em;
}

/* MOBILE SCREEN */
@media screen and (max-width:576px){

    header{
        padding: 1.5em;
    }
    header #nav-list{
        display: none;
    }
    header #menu{
        display: block !important;
        color: var(--azulOscuro);
        font-size: 1.5em;
    }

    #hero{
        padding: 10em 1em 7em 1em;
    }
    #hero h1{
        font-size: 2.5em;
    }
    #hero h5{
        font-size: 1em;
    }
    #hero p{
        font-size: 1em;
    }

    #reservar .card{
        padding: 4em 1em !important;
    }

    footer{
        padding: 1em;
        padding-top: 3em;
        padding-bottom: 3em;
    }
    #ubicacion a{
        margin-top: 3em;
    }
}

/* MEDIUM SCREEN */
@media screen and (max-width:1400px){
    #hero{
        padding: 16em 1em;
    }
}